@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

nav {
    background-color: #e3e0d6;
    width: 70%;              
    margin: 0 auto;           
    text-align: center;       
    padding: 10px 0;         
    border-radius: 8px;     
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

nav a {
    color: #92815a;
    text-decoration: none;
    margin: 5px;
    font-size: 22pt;
    font-weight: bold;
}

div{
    background-color: #92815a;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:rgb(73, 35, 7);
    padding: 20px;
    width: 100%;
    font-weight: bold;
}

h1{
    color: #e3e0d6;
}

.dropdown {
    position: relative;
}

.botao-contato {
    color: #92815a;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

  .botao-contato:hover {
    background-color: #4b403d;
  }

  .menu-opcoes {
    display: none;
    position: absolute;
    background-color: #3b3230;
    border-radius: 8px;
    margin-top: 5px;
    min-width: 160px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .menu-opcoes a {
    color: #995964
    padding 10px 15px;
    text-decoration: none;
    display: block;
  }

  .menu-opcoes a:hover {
    background-color: #4b403d;
  }

  .mostrar {
    display: block;
  }

  #etapas{
    display: flex;
    position: relative;
    bottom: 500px;
    left:300px;
    gap: 20px;
}

h2{
  color: #e3e0d6;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


    /* imagem de fundo */
    .bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* faz a imagem cobrir tudo */
      z-index: -1; /* joga a imagem para trás do conteúdo */
      filter: brightness(50%); /* escurece um pouco a imagem */
    }

    /* conteúdo por cima */
    .conteudo {
      position: relative;
      z-index: 1;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
